html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-display: swap;
    overflow-x: hidden;
}

.flexBreak {
    display: flex;
    flex-basis: 100%;
    height: 0;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.33%;
    overflow: hidden;
    word-wrap: none;
    background: lavender;
}

li {
    display: flex;
    float: left;
    margin: 0 1%;
    font-size: 24px;
    line-height: 1.5em;
}

#navLogo {
    height: 1.5em;
    float: left;
}

/* banner image...Helter-Shelter title with pet logos */
.bannerContainer {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    margin: 0 auto;
}

.bannerImage {
    width: 100%;
}

/* main content wrapper, flex container that sits below banner */
.flexContainer {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

/* homepage main text content */
.mainContent {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 2%;
    white-space: no-wrap;
    overflow: hidden;
    background: #9c95af;
}

.cardContainer {
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    margin: 1% 0;
}

  .cardContent {
    display: inherit;
    width: 15%;
    height: 30vh;
    border: 1px solid red;
  }

/* bottom subsection flex container */
.subContent {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    justify-content: center;
    padding: 2%;
    white-space: no-wrap;
    overflow: hidden;
    background: lavender;
}
  
.pageFooter {
    display: flex;
    width: 100%;
    justify-content: center;
    background: rosybrown;
}

.icons {
    height: 1em;
}
