html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0.33%;
    overflow: hidden;
    word-wrap: none;
    background: #493979;
}

li {
    display: flex;
    float: right;
    margin: 0 2%;
}

li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    font-display: swap;
    line-height: 2.5em;
}

li a:hover {
    color: lightskyblue;
    text-decoration: underline;
    cursor: pointer;
}

#navLogo {
    float: left;
    padding: 0.33%;
    margin: 0;
}

#logoIcon {
    height: 2.5em;
    border-radius: 2em;
    line-height: 2.5em;
}

.bannerContainer {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    margin: 0 auto;
}

.bannerImage {
    width: 100%;
}

/* main content wrapper, flex container sits below banner and holds content cards */
.flexWrapper {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-color: whitesmoke;
}

    /* 4 content cards flex container */
    .cardContainer {
        display: inherit;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 100%;
        width: 100%;
        justify-content: space-evenly;
        vertical-align: middle;
        padding-top: 2%;
        white-space: no-wrap;
        overflow: hidden;
        background: transparent;
        perspective: 1000px;
    }

        .contentCard {
            display: flex;
            width: 20%;
            height: 40vh;
            background-color: #493979;
            -webkit-box-shadow: 5px 7px 20px 4px rgba(0,0,0,0.3);
            -moz-box-shadow: 5px 7px 20px 4px rgba(0,0,0,0.3);
            box-shadow: 5px 7px 20px 4px rgba(0,0,0,0.3);
            transition-duration: 0.8s;
            transition-timing-function: ease-in-out;
            transform-style: preserve-3d;
            
        }

        /* Rotate card on hover */
        .contentCard:hover , .cards-front {
            transform: rotateY(180deg);
        }

            .cards-front {   
                margin-top: 12%;
                overflow: hidden;
                z-index: 2;
            }

            .cards-front, .cards-back {
                position: absolute;
                width: 100%;
                height: 100%;
                justify-content: center;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transform: rotateX(0deg);
            }

            .cards-back {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 1em;
                line-height: 1.5em;
                font-display: swap;
                text-align: center;
                background-color: #fff;
                color: #493979;
                overflow-x: hidden;
                transform: rotateY(180deg);
            }
            /* card text content style adjustments to achieve desired display */
                h2 {
                    font-size: 3.5em;
                    line-height: 1.5em;
                    margin: 0.5em 1em;
                    margin-bottom: 1.5em;
                    text-align: center;
                    font-display: swap;
                }

                h2#leftBehind {
                    margin: 0.5em 0.5em;
                    margin-bottom: 1.5em;
                }
                
                h2#helterCard {
                    margin: 1em 0.5em;
                    margin-bottom: 2em;
                }
                
                    p.cardText {
                        margin: 3em;
                    }

        /* Front of card svg icons */
        .cardIcons {
            display: inherit;
            width: 60%;
            height: auto;
            margin: auto;
        }

/* shelter map flex container */
.mapContainer {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    height: 80%;
    justify-content: center;
    white-space: no-wrap;
    overflow: hidden;
    background-color: whitesmoke;
    padding-bottom: 2em;
}

/* leaflet.js map */
#map-display {
    display: inherit;
    justify-content: center;
    width: 80%;
    height: auto;
    z-index: 2;
    margin: 2em;
    border: 3px solid lightgray;
    border-radius: 0.5em;
}

.contactContainer {
    display: inherit;
    width: 100%;
    justify-content: center;
    padding: 2% 0;
    white-space: no-wrap;
    overflow: hidden;
    background: #d2d2ff;
}

.contactHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    font-weight: 600;
}

.contactInput {
    width: 33%;
}

/* Contact form */
input[type=text], select, textarea {
    display: flex;
    flex-basis: 100%;
    margin: 1em auto;
    padding: 1.25em;
    font-family: 'Courier New', Courier, monospace !important;
    border: 5px solid black;
    border-radius: 1em;
    line-height: 1.25em;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: black;
    margin: 1em auto;
    padding: 0.75em 1em;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 1.25em;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: 0.25px;
    border: 5px solid black;
    border-radius: 1em;
    user-select: none;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.9;
}

input[placeholder] {
    font-size: 1em;
}

textarea#subject[placeholder] {
    font-size: 1.75em;
    line-height: 2em;
}

textarea#message[placeholder] {
    font-size: 2em;
}

    #subject {
        padding: 0.5em 1em;
    }

    #message {
        padding-bottom: 10%;
    }   

label {
    visibility: hidden;
}

.helter-footer {
    background-color: #493979;
}

.foot {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    justify-content: center;
}

.foot a {
    font-weight: 400;
}
  
.footerLogos {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    justify-content: center;
    background: #493979;
}

.icons {
    height: 1.5em;
}

.icons:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

@media only screen and (min-height: 360px) and (max-width: 968px) {
    .cardContainer {
        padding: 2%;
        margin-top: 5%;
    }
    .contentCard {
        width: 40%;
        height: 40%;
        flex-direction: row;
        flex-grow: inherit;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 2em;
        line-height: 2em;
        margin: 1em;
    }

    h2#leftbehind {
        margin: 1em;
    }

    p.cardText {
        margin: 1em;
        margin-top: 3em;
    }

    .cards-back {
        line-height: 1em;
        font-size: 0.75em;
        overflow: scroll;
        overflow-x: hidden;
    }

    li a {
        font-size: 0.75em;
        margin: 0 auto;
    }

    #map-id {
        width: 90%;
    }

    .contactInput {
        width: 60%;
    }

    .paws {
        display: none;
    }

    textarea#message[placeholder] {
        font-size: 1.5em;
    }

    #navLogo {
        padding: 1.5%;
    }
    
    #logoIcon {
        height: 1em;
        border-radius: 2em;
    }
}

/* forces a line break in flex layout
.flexBreak {
    display: flex;
    flex-basis: 100%;
    height: 0;
}
*/