html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0.33%;
    overflow: hidden;
    word-wrap: none;
    background: #493979;
}

/* li elements for navbar and footer share style properties */
li {
    display: flex;
    float: right;
    margin: 0 2%;
}

li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 2.5em;
}

    li a:hover {
        color: #fff06d;
        cursor: pointer;
    }

li.navItem {
    margin: 0 5em 0 0;
}

#navLogo {
    float: left;
    padding: 0.33%;
    margin: 0;
}

#logoIcon {
    height: 2.5em;
    border-radius: 2em;
    line-height: 2.5em;
}

.bannerContainer {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    margin: 0 auto;
}

.bannerImage {
    width: 100%;
}

/* card content wrapper, flex container section below banner */
.cardWrapper {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: whitesmoke;
}

.cardContainer {
    display: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
    width: 100%;
    justify-content: space-evenly;
    vertical-align: middle;
    padding: 3% 0;
    overflow: hidden;
    background: transparent;
    perspective: 1000px;
}

    .contentCard {
        display: flex;
        width: 20%;
        height: 40vh;
        -webkit-box-shadow: 5px 7px 20px 4px rgba(0,0,0,0.3);
        -moz-box-shadow: 5px 7px 20px 4px rgba(0,0,0,0.3);
        box-shadow: 5px 7px 20px 4px rgba(0,0,0,0.3);

        -webkit-transition-duration: 0.8s;
        -webkit-transition-timing-function: ease-in-out;
        -webkit-transform-style: preserve-3d;
        -moz-transition-duration: 0.8s;
        -moz-transition-timing-function: ease-in-out;
        -moz-transform-style: preserve-3d;
        transition-duration: 0.8s;
        transition-timing-function: ease-in-out;
        transform-style: preserve-3d;
    }

    /* Rotate card on hover */
    .contentCard:hover , .cards-front {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

        .cards-front {   
            background-color: #493979;
            overflow: hidden;
            z-index: 2;
        }

        .cards-front, .cards-back {
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            justify-content: center;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }

        /* Front of card svg icons */
        .cardIcons {
            display: flex;
            width: 60%;
            margin: auto;
            margin-top: 12%;
        }

        .cards-back {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
            font-size: 1em;
            line-height: 1.5em;
            text-align: center;
            background-color: #fff;
            color: #493979;
            overflow-x: hidden;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        h2 {
            font-size: 3em;
            line-height: 2em;
            text-align: center;
            margin: 1em;
            margin-bottom: 1.9em;
        }

            h2#happy {
                margin: 1.75em 1em 1.9em 1em;
            }

            h2#leftBehind {
                margin: 0.5em 1em;
                margin-bottom: 1.5em;
            }
                
            h2#helterCard {
                margin: 1em 0.5em;
                margin-bottom: 1.9em;
            }
        
        p.cardText {
            margin: 3em;
        }

.mapTitleContainer {
    display: flex;
    width: 100%;
    max-height: 20%;
    justify-content: center;
    padding: 1% 0 1% 0;
    margin: 0;
    background-color: whitesmoke;
}

    .mapTitle {
        margin: 0 auto;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 0.2em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
        font-size: 5em;
        font-weight: 600;
        color: #000;
    }

        /* shelter map flex container */
        .mapContainer {
            display: flex;
            flex-basis: 100%;
            width: 100%;
            height: 90%;
            justify-content: center;
            white-space: no-wrap;
            overflow: hidden;
            background-color: whitesmoke;
            padding-bottom: 1em;
        }

        /* leaflet.js map */
        #map-display {
            display: inherit;
            justify-content: center;
            width: 75%;
            height: auto;
            z-index: 2;
            margin: 2em;
            margin-bottom: 1em;
            border: 2px solid black;
            border-radius: 0.5em;
        }

        .resetView {
            display: flex;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            background-color: whitesmoke;
            padding-bottom: 2em;
        }

            #resetButton {
                display: flex;
                justify-content: center;
                width: 75%;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
                font-size: 1.75em;
                font-weight: 600;
                padding: 1em 0;
                border: none;
                border-radius: 0.25em;
                outline: none;
                color: white;
                background-color: #493979;
                text-align: center;
                overflow: hidden;
                margin: 0 auto;
                cursor: pointer;
            }

            #resetButton:hover {
                opacity: 0.98;
            }

            #resetButton:active {
                -webkit-transform: scale(.998);
                transform: scale(.998);
            }

.collapseTableButton {
    display: inherit;
    width: 100%;
    border: none;
    outline: none;
    background-color: #493979;
    color: white;
    font-size: 5em;
    line-height: 1em;
    text-align: center;
    overflow: hidden;
}

.collapseTableButton:hover {
    opacity: 0.98;
}

.collapseTableButton:active {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.collapseTableButton:after {
    cursor: pointer;
    border: none;
    outline: none;
    content: '\002B';
}

    .active:after {
        content: "\2212";
    }

    /* adding style to the data table for better presentation */
    .dataTable {
        display: none;
        justify-content: center;
        background-color: whitesmoke;
        max-height: 0;
        padding: 2em 1em;
        overflow: hidden;
        -webkit-transition: max-height 0.3s ease-out;
        transition: max-height 0.3s ease-out;
    }

        table {
            padding: 2em 1em;
            border-collapse: collapse;
            box-shadow: 10px 16px 22px 6px rgba(0,0,0,0.05);
            -webkit-box-shadow: 10px 16px 22px 6px rgba(0,0,0,0.05);
            -moz-box-shadow: 10px 16px 22px 6px rgba(0,0,0,0.05);
        }
            
            th {
                padding: 1em;
                border: 2px solid #d2d2ff;
                background-color: #d2d2ff;
                color: #000;
                font-family: 'Montserrat', 'Lucida Sans', sans-serif;
                font-size: 1.75em;
                letter-spacing: 2px;
            }

            td {
                padding: 1em;
                border: none;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
                font-weight: 600;
            }

            tr:nth-child(odd) {
                padding: 1em;
                background-color: whitesmoke;
            }

            tr:nth-child(even) {
                background-color: #d2d2ff;
            }

.contactContainer {
    display: inherit;
    width: 100%;
    justify-content: center;
    padding: 2% 0;
    overflow: hidden;
    background: #d2d2ff;
}

    .contactHeader {
        margin: 1em;
        margin-bottom: 1.75em;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 0.25em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
        font-weight: 600;
        font-size: 2.75em;
        color: #000;
    }

    .paws {
        margin: 0;
        width: 10em;
        padding-top: 15%;
    }

    .contactInput {
        width: 33%;
    }

    input[type=text], select, textarea {
        display: flex;
        flex-basis: 100%;
        margin: 1em auto;
        padding: 1.25em;
        font-family: 'Courier New', Courier, monospace !important;
        border: 5px solid black;
        border-radius: 1em;
        line-height: 1.25em;
        box-sizing: border-box;
        resize: vertical;
    }

    input[type=submit] {
        display: flex;
        justify-content: center;
        background-color: #fff;
        color: black;
        margin: 1em auto;
        padding: 0.75em 1em;
        font-family: 'Courier New', Courier, monospace !important;
        font-size: 1.25em;
        font-weight: 600;
        font-family: monospace;
        letter-spacing: 0.25px;
        border: 5px solid black;
        border-radius: 1em;
        user-select: none;
        cursor: pointer;
    }

    input[type=submit]:hover {
        opacity: 0.9;
    }

    input[placeholder] {
        font-size: 1em;
    }

        textarea#subject[placeholder] {
            font-size: 1.75em;
            line-height: 2em;
        }

        textarea#message[placeholder] {
            font-size: 2em;
        }

            #subject {
                padding: 0.5em 1em;
            }

            #message {
                padding-bottom: 10%;
            }   

            label {
                visibility: hidden;
            }

.helter-footer {
    background-color: #493979;
}

.foot {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    justify-content: center;
    padding: 1% 0 0 0;
}

    .foot a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
        font-weight: 400;
    }

    .footerLogos {
        display: flex;
        flex-basis: 100%;
        width: 100%;
        padding-top: 1%;
        justify-content: center;
        background: #493979;
    }

        .icons {
            height: 1.5em;
        }

        .icons:hover {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            opacity: 0.9;
        }

/* Reduce card image width on small mobile devices */
@media only screen and (max-height: 568px) and (min-width: 570px) and (orientation: portrait) {
    .cardIcons {
        width: 45%;
    }
    h2 {
        font-size: 1.5em;
    }
}

/* Mobile device media query, set to capture all devices up to the largest mobile phones, 
    with a buffer to the height px to allow for future devices increasing in size */
@media only screen and (min-height: 360px) and (max-width: 968px) and (orientation: portrait) {
    #navLogo {
        padding: 1.5%;
    }

    .cardContainer {
        padding: 2%;
        margin-top: 5%;
    }

    .contentCard {
        width: 40%;
        height: 40%;
        flex-direction: row;
        flex-grow: inherit;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 1.75em;
        margin: 1em;
        margin-bottom: 1.375em;
    }

    h2#happy {
        margin: 1em;
        margin-bottom: 1.3em;
    }

    h2#leftBehind {
        margin: 1em 0.375em;
        margin-bottom: 1.375em;
    }

    h2#helterCard {
        margin: 1em;
        margin-bottom: 1.375em;
    }

    p.cardText {
        margin: 1em;
        margin-top: 3em;
    }

    .cards-back {
        line-height: 1em;
        font-size: 0.75em;
        overflow: scroll;
        overflow-x: hidden;
    }

    li a {
        font-size: 0.75em;
        margin: 0 auto;

    }

    li.navItem {
        margin: 0 2%;
    }
    

    .mapTitle {
        font-size: 1.75em;
    }

    #resetButton {
        font-size: 1em;
        padding: 0.5em 0;
    }

    .button-collapsible {
        font-size: 3em;
    }

    table {
        font-size: 12px;
    }
    th {
        font-size: 1em;
        letter-spacing: initial;
    }

    .contactInput {
        width: 60%;
    }

    .contactHeader {
        font-size: initial;
    }

    .paws {
        padding-top: 66%;
        max-width: 3em;

    }

    textarea#subject[placeholder] {
        font-size: initial;
    }

    textarea#message[placeholder] {
        font-size: 1.5em;
    }

    #logoIcon {
        height: 1em;
        border-radius: 2em;
    }
}

/* Landscape mode mobile adjustments  */
@media only screen and (max-height: 440px) and (min-width: 568px) and (orientation: landscape) { 
    h2 {
        font-size: 1.5em;
        line-height: 1.675em;
    }

    h2#leftBehind {
        margin: 1em 1em;
        margin-bottom: 1.75em;
    }
        
    h2#helterCard {
        margin: 1em 0.75em;
        margin-bottom: 1.75em;
    }

    p.cardText {
        margin: 1rem 0.25rem;
        margin-top: 3rem;
    }

    .mapTitle {
        font-size: 3em;
    }

    #resetButton {
        font-size: 1em;
    }

    .button-collapsible {
        font-size: 3em;
    }

    .contactHeader {
        font-size: 2em;
    }

    textarea#subject[placeholder] {
        font-size: initial;
    }

    textarea#message[placeholder] {
        font-size: 1.5em;
    }
}

/* forces a line break in flex layout
.flexBreak {
    display: flex;
    flex-basis: 100%;
    height: 0;
}
*/